*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    user-select:none;
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
    background-size: 700%;
    animation: bgAnimate 15s linear infinite;
}
@keyframes bgAnimate {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.flex-box{
    background-color: #ffffff;
    width: 20rem;
    padding: 1.5rem;
    border: 0.1rem solid #dfe0e4;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(128, 128, 128, 0.3);
}

.warning{
    font-size: small;
}

.login{
    margin: 1rem 0 .5rem 0;
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}